Project Title :Frecycle
Project Definition: Frecycle is a mobile platform that  allow people to share  oversupply  wares  that do not use with other 
people in need
Project Goal:In recent years, people have begun to consume too much, and the use of unnecessary goods is damaging the environment.
Thanks  to this program, people will contribute  economically to people and ecologically to the environment by sharing 
usable goods they do not use with those in need.
Application Areas:Frecycle is an application especially in the category of shopping for university students
Background:There are some  similar mobile applications such as letgo but main purpose of other applictions is earn money. Also 
there exist some similar groups in social media but they are hard to use and contact.







 
